<div class="customers">
    <div class="card">
        <div class="card-header">
            <h3></h3>
            <a href="" ><span class="las la-arrow-right"></span></a>
        </div>

        <div class="card-body">)
            <div class="customer">
                <a href="">
                    <div class="information">
                        {{-- <img src="" width="40px" height="40px" alt=""> --}}
                        <div>
                            <h4></h4>
                            <small></small>

                            <small>لم يحجز بعد</small>
                        </div>
                    </div>
                </a>
                <div class="contact">
                    <span class="las la-user-circle"></span>
                    <span class="las la-user-comment"></span>
                    <span class="las la-user-phone"></span>
                </div>
            </div>
        </div>
    </div>
</div>
