<div class="form-body">
    <div class="form-container">
        <div class="title">Regiteration</div>
        <form action="">
            <div class="user-details">

                <!------------------------------------- NAME ------------------------------------->
                <div class="input-box">
                    <span class="details">full</span>
                    <input type="text" placeholder="Enter some data" value="" required>
                </div>
                <!--################################### NAME ###################################-->

                <!------------------------------------- NAME ------------------------------------->
                <div class="input-box">
                    <span class="details">full1</span>
                    <input type="text" placeholder="Enter some data" value="" required>
                </div>
                <!--################################### NAME ###################################-->

                <!------------------------------------- NAME ------------------------------------->
                <div class="input-box">
                    <span class="details">full2</span>
                    <input type="text" placeholder="Enter some data" value="" required>
                </div>
                <!--################################### NAME ###################################-->

                <!------------------------------------- NAME ------------------------------------->
                <div class="input-box">
                    <span class="details">full2</span>
                    <input type="text" placeholder="Enter some data" value="" required>
                </div>
                <!--################################### NAME ###################################-->

                <!------------------------------------- NAME ------------------------------------->
                <div class="input-box">
                    <div class="select-box">
                        <select name="" required>
                            <option value="" selected>A</option>
                            <option value="">B</option>
                            <option value="">C</option>
                        </select>
                    </div>
                </div>
                <!--################################### NAME ###################################-->

            </div>
            <div class="gender-details">
                <!------------------------------------- NAME ------------------------------------->
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-title">gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">m</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">f</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">no</span>
                    </label>
                </div>
                <!--################################### NAME ###################################-->
            </div>
            <div class="form-button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
